/* Start Globle Rules*/
body{
  font-family: 'Open Sans', sans-serif;
}

.uppercase{
  text-transform: uppercase;
}

.head-border::after{
  content: "";
  display: block;
  height: 3px;
  width: 65px;
  background-color: #ff8b38;
  margin: 20px 0;

}
@media (max-width:991px){
.head-border::after{
  margin: 20px auto;
  }

}

.head-border-center::after{
  content: "";
  display: block;
  height: 3px;
  width: 65px;
  background-color: #ff8b38;
  margin: 20px auto;

}


@media (max-width:991px){
  .text-center-sm-xs{
    text-align: center;
  }

}

/*End Globle Rules*/

/*Start Navbar*/
.scrolled {
  background: rgba(0,0,0,0.8);
}
/*End Navbar */

/*Start Header*/
.header{
  background: url('../img/header.png');
  -o-background-size: cover;
  -webkit-background-size:cover;
  -ms-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -webkit-height: 100vh;
  -o-height:100vh;
  -ms-height:100vh;
  -moz-height:100vh;
  height: 100vh;
  position: relative;
  color:#fff;
}

.header .overlay{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}

.header .centring-vh{
  margin-top: 25vh;
}

@media (max-width:991px) {

  .header .centring-vh{
    margin-top: 80px;
  }
}
.header h1{
  font-size: 60px;
  font-weight:bold;

}
.header h1 span{
  color: #ff8b38;

}
.header h1 ~ .lead{
  font-size:30px
}
.header h1 ~ .lead:after{
  content: '';
  display: block;;
  width: 60px;
  height: 2px;
  background-color:#fff;
  margin:25px 0;
}

@media  (max-width:991px) {
  .header h1 ~ .lead:after{
    margin:25px auto;
  }

}

.header p:last-of-type {
  font-size: 15px;
    color: #bbbb;
    font-style: normal;
}

.header button{
  margin-top: 20px ;
  padding:5px 15px;
  border: 2px solid #fff;
  background: transparent;

}
@media (max-width:991px){
  .header button{
    margin: 30px auto ;
    display: block;

  }
}
.header form{
  width: 360px;
  background-color: #fff
}
.header form h2{
  font-size: 18px;
  color: #333;
  background-color: #f5f5f5;
  padding: 15px 0;
  margin-bottom: 30px;
  font-weight: bold;
  margin-top: 0;

}
.header form h2 span{
    color: #ff8b38;
}

.header form .form-control{
border: none;
border-radius: 0;
margin: 0 auto 40px;
box-shadow:none;
border-bottom:1px solid #ccc;
width: 80%
}

.header form  input[type="submit"]{
  background-color:#ff8b38;
  border-radius: 0;
  padding: 15px;
  font-size: 20px

}
/*End Header*/


/*Start Social-Media*/

.social-section{
  padding: 10px;
  box-shadow: 20px 1px 9px #CCC;

}
.social-section h4{
  color: #333;
}

.social-section p{
  color:#a6a0a0
}
.social-section i{
  margin: 10px 15px;
  color: #CCC;
  transition: all 5.s ease-in-out;
  -webkit-transition: all 5.s ease-in-out;
  -ms-transition: all 5.s ease-in-out;
  -moz-transition: all 5.s ease-in-out;
  -o-transition: all 5.s ease-in-out;
  cursor: pointer;
}


.social-section .fa-facebook:hover{
  color: #3b5998;

}
.social-section .fa-twitter:hover{
  color: #1da1f2;

}
.social-section .fa-google-plus:hover{
  color: #dd4b39;

}
.social-section .fa-pinterest:hover{
  color: #bd081c;

}
.social-section .fa-instagram:hover{
  color: #405de6;

}
.social-section .fa-stumbleupon:hover{
  color: #eb4924;

}
.social-section .fa-rss:hover{
  color: #f26522;

}

@media (max-width:991px){
  .social-section{
    text-align: center;
  }
}

/*End Social-Media*/


/*Start Tabs Section*/
.tabs-section{
  padding:50px 0;
  background-color:#f5f5f5;
}

@media (max-width:991px){
  .tabs-section{
    text-align: center;
  }
}

.tabs-section .list-switch{
  background-color: #333;
  color: #fff;

}
.tabs-section .list-switch li{
height: 111px;
border-bottom: 1px solid #fff;
line-height: 111px;
text-transform: uppercase;
cursor: pointer;
font-size: 20px
}
.tabs-section .list-switch li.selected,
.tabs-section .list-switch li:hover{
  background-color:#ff8b38;
}

.tabs-section .tabs-content div:not(.tab-one){
  display: none;
}
.tabs-section .tabs-content h3{
  font-weight:bold;
  margin-top:0;

}

@media (max-width:991px){
  .tabs-section .tabs-content h3{
    margin:20px 0;
  }

}

.tabs-section .tabs-content .lead{
  font-size: 18px;
  color: #7e7e7e;
  line-height: 1.6;

}

.tabs-section .tabs-content button{
  background-color:#ff8b38;
  color: #fff;
}

@media (max-width:991px){
.tabs-section .tabs-content button{
  margin-bottom: 20px;
  }
}

/*End Tabs -Section*/

/*Start Sub-List */
.sub-list {
  padding:80px 0;
  background-color:#FFF;
}

@media (max-width:991px){
.sub-list{
  text-align:center;
    padding:40px 0;
  }
}

.sub-list .sub-img{
  margin-top: 30px
}
.sub-list .sublist-head{
  font-weight:bold;
}
.sub-list .sub-desc{
  line-height: 1.7;
  color: #777;
  margin-bottom: 35px;
}

.sub-list .sub-icon{
  margin-bottom: 30px;
  overflow: hidden;
}

.sub-list .sub-icon i{
    width: 37px;
    height: 37px;
    background-color: #fff;
    border: 2px solid #ff8b38;
    color: #ff8b38;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    margin-top:20px
}

@media (max-width:991px){
.sub-list .sub-icon i{
  float: none !important;
  margin: 10px 0;

 }

}

.sub-list .sub-info{
  width: calc(100% - 70px);
  color: #31708f;

}

@media (max-width:991px){
.sub-list .sub-info{
  float: none !important;
  width: 100%;

 }

}
.sub-list .sub-info h4{
  font-weight:bold;
}

.sub-list .sub-icon-desc{
  margin: 0 0 10px;
}

/*End Sub-List */


/*Start stanadard Picture Section */

.stand-picture {
  padding:80px 0;
  background-color:#f5faf5;
}
@media (max-width:991px){
.stand-picture{
  text-align: center;
  padding:40px 0;
 }

}
.stand-picture .stand-head{
  font-weight:bold;
  margin-top: 30px
}
.stand-picture .stand-desc{
  line-height: 1.7;
  color: #777;
  margin-bottom: 35px;
}

/*End stanadard Picture Section*/

/*  Start This is  Awesome */
.awesome{
  padding: 80px 0;

}
.awesome .awesome-head{
  font-weight:bold;
  font-size: 50px;

}
.awesome .awesome-desc{
  margin-bottom: 60px;
  color: #a9aaac
}

@media (max-width:991px){
.awesome .feat-box{
  margin-bottom: 40px;
 }

}

.awesome i{
  width: 77px;
  height: 77px;
  background-color: #fff;
  border: 2px solid #ff8b38;
  color: #ff8b38;
  line-height: 77px;
  text-align: center;
  border-radius: 50%;

}
.awesome .fa-keyboard-o{
  font-size: 35px
}

.awesome .feat-head{
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}

.awesome .feat-info{
  color: #a9aaac
}
/*  End This is  Awesome */


/* Start Price Section */

.price-options{
  padding: 80px 0;
  background-color: #f5f5f5;

}
@media (max-width:991px){
.price-options{
padding: 40px 0;
 }

}
.price-options .price-head{
  font-weight:bold;
  font-size: 50px;

}
.price-options .price-desc{
  margin-bottom: 60px;
  color: #a9aaac
}

.price-options .price-box{
  background-color: #FFF
}

@media (max-width:991px){
.price-options .price-box{
  margin-bottom: 30px;
 }

}

.price-options .price-box .plan-head{
  color: #fff;
  background-color:#333;
  padding: 15px 0;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  margin-bottom: 0
}
.price-options .price-box .option{
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  border-bottom:5px solid #ff8b38;
}
.price-options .price-box .option .price-option-desc{
  display: block;
  font-size: 70px
}
.price-options .price-box .option .price-option-desc .usd{
  font-size: 30px
}
.price-options .price-box .option .period{
  font-style: italic;
  color: #adadad
}

.price-options .price-box ul li{
  padding: 10px 0;
  color: #8c8c8c;
  border-bottom: 1px solid #f5f5f5
}
.price-options .price-box .most-pop{
  background-color:#ff8b38;
  padding: 5px 0 10px;
  color: #fff;
  margin-bottom: 0
}

.price-options .basic,
.price-options .enterprise{
  margin-top: 55px
}



/* End Price Section */



/* Start Testmonials  */
.testm{
  padding: 80px 0;
  background-color: #fff;
}

@media (max-width:991px){
.testm{
padding: 40px 0;
 }

}
.testm .testm-desc{
  margin-bottom:40px
}
.testm .client-comment
{
  background-color:#f5f5f5;
  color: #8e8f93;
  position: relative;
  padding: 20px;
  margin-bottom:20px
}

.testm .client-comment::after{
    content: "";
    width: 0;
    height: 0;
    border-width: 14px 15px 15px 15px;
    border-style: solid;
    border-color: #f5f5f5 transparent transparent;
    position: absolute;
    bottom: -29px;
    left: 19px;
}

@media (max-width:991px){
  .testm .media{
    margin-bottom: 30px
    }
  }

 .testm .media .media-body{
   text-align: left;
 }

.testm .media-heading{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.testm .media-body p{
color: #a9aaac
}


/* End Testmonials  */



/* Start Stylish */
.stylish{
  background: url('../img/stylish.png');
  -o-background-size: cover;
  -webkit-background-size:cover;
  -ms-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  position: relative;
  color:#fff;
  min-height: 320px;
}
.stylish .head-border-center::after{
  background-color:#fff;
}

.stylish .overlay{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  padding: 60px 0;
}

 .stylish .stylish-desc{
   color: #8e8f93;


 }

.stylish .stylish-btn{
padding: 8px 20px;
border: 2px solid #fff;
background: transparent;
display: block;
margin: 30px auto;
}


/* End Stylish */

/* Start Contac Us  */
.contact-us{
  padding: 80px 0;
  background-color: #fff;
}

@media (max-width:991px){
  .contact-us{
  padding: 40px 0;
    }
  }

.contact-us .contact-desc{
  color: #8e8f93;
  margin-bottom: 40px;
}
 .contact-us form input[type="text"],
 .contact-us form input[type="email"]
 {
    margin-bottom: 20px;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e0e0e0;
 }

 .contact-us form textarea{
   height: 176px;
   box-shadow: none;
   border: none;
   border-radius: 0;
   border-bottom: 1px solid #e0e0e0;
 }


.contact-us .contact-btn{
  margin-top: 30px;
  padding: 8px 15px;
  border: 2px solid #fff;
  background-color: #ff8b38;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size:15px
}
/* End Contact Us  */

/* Start footer */
.footer{
  padding: 20px;
  color:#EEE;
  background-color:#000;
}
.footer .container{
  font-size: 20px;
  font-style: italic;
}
/* End footer */
